<footer>
  <div class="container">
    <div class="grid">
      <div>
        <p class="brand">headius<span class="sep">\</span>enterprises</p>
        <p>
          JRuby runtime support from the core developers who built it. We wrote the code. We fix the bugs. We answer the phone.
        </p>
      </div>
      <nav>
        <h4>Support</h4>
        <ul>
          <li><a href="<%= relative_url '/#packages' %>">Overview</a></li>
          <li><a href="<%= relative_url '/#packages' %>">Professional</a></li>
          <li><a href="<%= relative_url '/#packages' %>">Expert</a></li>
          <li><a href="<%= relative_url '/#packages' %>">Enterprise</a></li>
        </ul>
      </nav>
      <nav>
        <h4>Company</h4>
        <ul>
          <li><a href="<%= relative_url '/#about' %>">About</a></li>
          <li><a href="<%= relative_url '/#contact' %>">Contact</a></li>
          <li><a href="https://jruby.org" target="_blank" rel="noopener">JRuby.org</a></li>
        </ul>
      </nav>
      <nav>
        <h4>Social</h4>
        <ul>
          <li><a href="https://mastodon.social/@headius" target="_blank" rel="noopener me">Mastodon</a></li>
          <li><a href="https://bsky.app/profile/headius.bsky.social" target="_blank" rel="noopener">Bluesky</a></li>
          <li><a href="https://x.com/headius" target="_blank" rel="noopener">X / Twitter</a></li>
        </ul>
      </nav>
    </div>
    <div class="bottom">
      <span>&copy; 2024&ndash;2026 Headius Enterprises. All rights reserved.</span>
      <span class="metal">\m/</span>
      <span>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
      </span>
    </div>
  </div>
</footer>
